@primary-font: 'Poppins', sans-serif;
@secondary-font: 'Roboto', sans-serif;

@t-intro: 5.625rem;
@t-1: 38px;  // 38px
@t-2: 30px;   // 30px
@t-3: 24px;  // 24px
@t-4: 16px;  // 16px
@t-5: 12px;  // 12px
@t-6: 11px;  // 11px
@t-7: 10px;   // 10px
@t-8: 14px;   // 14px
@t-9: 36px;   // 36px
@t-10: 20px;
@t-11: 18px;

@c-w: #ffffff;
@c-1: #d38b4c;
@c-2: #102935;
@c-3: #6b7b82;
@c-4: #216676;
@c-5: #f5f5f5;
@c-6: #676767;
@c-7: #868686;
@c-8: #e0dede;
@c-9: #bfc8cc;
@c-10: #eaeaea;
@c-11: #edeef3;
@c-12: #cb0d0d;

@fw-300: 300;
@fw-400: 400;
@fw-500: 500;
@fw-600: 600;
@fw-700: 700;



.t {
  &-intro {
    font-size: @t-intro;
  }
  &-1 {
    font-size: @t-1;
  }
  &-2 {
    font-size: @t-2;
  }
  &-3 {
    font-size: @t-3;
  }
  &-4 {
    font-size: @t-4;
  }
  &-5 {
    font-size: @t-5;
  }
  &-6 {
    font-size: @t-6;
  }
  &-7 {
    font-size: @t-7;
  }

}

.c {
  &-w {
    color: @c-w;
  }
  &-1 {
    color: @c-1;
  }
  &-2 {
    color: @c-2;
  }
  &-3 {
    color: @c-3;
  }
  &-4 {
    color: @c-4;
  }
  &-5 {
    color: @c-5;
  }
  &-6 {
    color: @c-6;
  }
  &-7 {
    color: @c-7;
  }
}

.fw {
  &-300 {
    font-weight: @fw-300;
  }
  &-400 {
    font-weight: @fw-400;
  }
  &-500 {
    font-weight: @fw-500;
  }
  &-600 {
    font-weight: @fw-600;
  }
  &-700 {
    font-weight: @fw-700;
  }
}

.tt {
  &-u {
    text-transform: uppercase;
  }
}

.pl {
  &-20 {
    padding-left: 20px;
  }
  &-30 {
    padding-left: 30px;
  }
  &-50 {
    padding-left: 50px;
  }
}

.mt {
  &-40 {
    margin-top: 40px;
  }
}

.r-30 {
  right: 30% !important;
}

.r-38 {
  right: 38% !important;
}
