.inline {
  display: inline-block;
}

.admin-rewards-list {
  margin-bottom: 50px;

  .widefat td {
    vertical-align: middle;
  }

  svg {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
  }

  .action-wrapper {
    margin-top: 3px;
    display: inline-block;
  }

  .btn {
    margin-top: 10px;
    padding: 5px 10px;
    color: @c-w;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    border-radius: 27px;
    margin-right: 10px;

    &-send {
      background-color: @c-11;
      color: @c-1;

      &:hover {
        background-color: @c-1;
        color: @c-w;

        svg path {
          fill: @c-w;
        }
      }
    }

    &-cancel {
      background-color: @c-12;
      color: @c-w;

      &:hover {
        background-color: darken(@c-12, 10%);
        border: none;
      }
    }
  }

  
}