.news {
  h3 {
    font-size: 22px;
  }
}

.news-post {
  padding: 29px 14px 0 20px;
  border: 1px solid @c-11;
  margin-bottom: 14px;

  .post-title {
    font-size: @t-10;
    color: @c-2;
    font-weight: @fw-500;
    margin-top: 0;
    margin-bottom: 12px;
  }

  .post-content {
    color: @c-3;
    line-height: 23px;
    font-size: @t-8;
  }

  .post-meta {
    color: @c-9;
    margin-bottom: 21px;
    font-weight: 700;
    font-size: @t-8;
  }
}
