.woocommerce {
  .coupon-contents {
    border: 1px solid @c-8;

    input {
      border: none;
    }

    button.button {
      background: transparent;
      color: @c-8;
      margin-top: 0;

      &:hover {
        color: @c-6;
      }
    }
  }

  .woocommerce-content-box {
    border: none;

    .promo-code-heading {
      color: @c-w;
    }
  }

  .woocommerce-checkout {
    //input {
    //  height: 40px;
    //}

    input[type="radio"],
    input[type="checkbox"] {
      margin: 2px 0 0;
    }
  }

  .fusion-page-title-bar {
    .fusion-page-title-row {
      h1 {
        color: #343333;
      }
    }
  }
}

.woocommerce-cart-form {
  display: inline-block;
  width: 60%;
  vertical-align: top;

  .product-thumbnail {
    img {
      background-color: @c-5;
    }
  }

  .woocommerce-content-box {
    border: none;

    h2 {
      display: none;
    }

    .shop_table tr {
      border: none;
    }

    table {
      thead {
        display: none;
      }
    }
  }

  .shop_table .product-thumbnail {
    margin-right: 15px;
  }

  .shop_table .product-name {
    width: 40%;
  }

  .product-info {
    max-width: 145px;

    a {
      color: @c-2;
      font-weight: @fw-700;
    }
  }

  .shop_table .amount {
    color: @c-6;
    font-weight: @fw-700;
  }

  @media only screen and (max-width: 1199px) {
    width: ~"calc(100% - 340px)";
  }
  @media only screen and (max-width: 1023px) {
    width: 100%;
  }
  @media only screen and (max-width: 800px) {
    .product-info {
      margin: auto;
    }
  }
}

#content .cart-collaterals {
  display: inline-block;
  width: 30%;

  .cart_totals {
    width: 100%;
    border: none;
    background-color: @c-5;

    h2 {
      font-size: @t-4;
    }

    .button {
      width: 100%;
    }

    .fusion-update-cart {
      background: transparent;
      color: @c-7;
      text-decoration: underline;
    }
  }

  .amount {
    font-weight: @fw-700;
    color: @c-6;
  }

  .woocommerce-shipping-calculator {
    display: none;
  }

  .coupon {
    border: none;
    display: none !important; // zmenit miesto

    .avada-coupon-fields {
      border: 1px solid @c-8;

      input {
        border: none;
      }

      button.button {
        background: transparent;
        color: @c-8;
        margin-top: 0;

        &:hover {
          color: @c-6;
        }
      }
    }
    h2 {
      display: none;
    }
  }

  @media only screen and (max-width: 1199px) {
    width: 320px;
  }
  @media only screen and (max-width: 1023px) {
    width: 100%;
  }
}

.single-product.woocommerce #main .fusion-fullwidth {
  .social-share {
    display: none;
  }
}


.woocommerce-cart {
  .fusion-page-title-bar h1 {
    color: #343333;
  }
}
