.client-account-page {
  &.woocommerce-MyAccount-content {
    margin-left: 20px;
  }
}

.woocommerce-MyAccount-content, .woocommerce-content-box {
  margin-left: 0;
  border: none;
  border-top: 1px solid @c-5;

  mark {
    background: transparent;
    color: @c-4;
  }
}

.woocommerce-js {
  //#content {
  //  width: 81%;
  //}

  #mepr-account-nav {
    display: none;
  }
}

.client-section {

  font-family: @secondary-font;

  .fusion-page-title-bar {
    background-image: url("assets/img/client-header-background.png");
    -webkit-background-size: cover;
    background-size: cover;

    //.entry-title {
    //  font-size: @t-9;
    //  color: @c-w;
    //}
  }

  .fusion-header-wrapper {
    position: absolute;
    z-index: 10000;
    left: 0;
    right: 0;
  }

  .filter-form {
    text-align: center;

    .form-group {
      display: inline-block;
    }
  }

  .border-b-1-c5 {
    border-bottom: 1px solid @c-5;
  }

  .submenu {
    ul {
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      border-top: 1px solid @c-5;
      border-left: 1px solid @c-5;
      border-right: 1px solid @c-5;
    }
    li {
      list-style: none;
      padding: 9px 25px;
      text-align: center;
      min-width: 108px;
      border-left: 1px solid @c-5;
      border-bottom: 1px solid @c-5;

      &:first-child {
        border-left: none;
      }

      img {
        width: 50px;
      }

      .item-name {
        color: @c-2;
        display: block;
        text-align: center;
        font-weight: 700;
        transition-duration: .1ms;
        font-size: 12px;
      }

      .items {
        font-size: @t-5;
        line-height: 16px;
        font-weight: 700;
      }

      img {
        width: 16px;
        height: 16px;
      }

      img.ico,
      svg.ico {
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path:last-child {
          fill: @c-9;
        }
      }

      .main-icon-wrap {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        width: 60px;
        height: 60px;
        display: block;
        margin: 0 auto;
        padding: 3px;

        svg {
          vertical-align: bottom;
        }

        img, svg {
          width: 60px;
          height: 55px;
        }
      }


      &.selected, &:hover {
        background-color: @c-1;

        .main-icon-wrap {
          background: @c-w;
        }

        .item-name,
        .items{
          color: @c-w;
        }

        svg.ico path:last-child {
          fill: @c-w;
        }
      }
    }
  }

  #main {
    padding-left: 0;
    padding-right: 0;
    margin: 0;

    & > .fusion-row {
      max-width: 100%;
    }
  }
  .fusion-page-title-bar.fusion-page-title-bar {

    .fusion-page-title-captions {
      margin-top: 100px;
    }

    &-center .fusion-page-title-row h1.entry-title {
      margin-left: 0;
      text-transform: uppercase;
      font-size: 36px;
      color: @c-w;
    }
    &-left h1.entry-title {
      margin-top: 0;
      text-transform: uppercase;
    }
  }

  #content {
    width: 100%;
  }

  .points {
    display: block;
    color: @c-1;
  }

  .menu-text .points {
    display: initial;
  }
}

.fusion-carousel .fusion-clean-product-image-wrapper .fusion-carousel-item-wrapper > h4.fusion-carousel-title {
  margin-top: 20px;

  a {
    color: @c-w;
  }
}

.home .fusion-carousel .fusion-clean-product-image-wrapper .fusion-carousel-item-wrapper > h4.fusion-carousel-title {
  a {
    color: @c-6;
  }
}

.mepr_spacer {
  height: 0;
}

.fusion-woo-product-slider .fusion-carousel {

  .fusion-image-wrapper,
  .fusion-clean-product-image-wrapper .fusion-carousel-item-wrapper {
    padding: 0;

    & > h4.fusion-carousel-title,
    .fusion-carousel-meta {
      padding: 0;
    }
  }
}

.page-template-client-backend {
  &.woocommerce-page {
    .fusion-main-menu {
      li > a,
      .current-lang a span,
      .current_page_item > a,
      .current_page_item > a span,
      li > a:hover,
      .current-lang a span:hover,
      li > a:hover span,
      .current-lang a span:hover span,
      li > a.fusion-icon-only-link .fusion-megamenu-icon,
      .current-lang a span.fusion-icon-only-link .fusion-megamenu-icon,
      li > a.fusion-main-menu-icon:after,
      .current-lang a span.fusion-main-menu-icon:after {
        color: @c-w;
      }
    }



    .fusion-standard-logo {
      use {
        fill: @c-w;
      }
    }
  }
}

#content.loops, .submenu.middle {
  margin: 0 auto;
  width: 549px;
  float: none;
}

#content.loops .submenu, .submenu.middle {
  li {
    min-width: 135px;
  }
}

