html,
body {
  height: 100%;
  position: relative;
  background: @c-w;
}

#wrapper {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 260px;
  @media only screen and (max-width: 479px) {
    padding-bottom: 490px;
  }
}

.fusion-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.headline-price {
  h3 {
    margin: 44px 0 22px 0;
  }
}

ul {
  padding-left: 25px;
  margin: 0;

  li {
    line-height: 34px;
  }
}

a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.fusion-content-boxes.content-boxes-icon-on-top .heading img {
  margin-bottom: 0;
}

.fusion-button.button-custom {
  min-width: 189px;
}

button.setmore {
  background: @c-1;
  min-width: 189px;
  color: @c-w;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 7px 29px;
  font-size: 14px;
}

.tfs-slider {

  .slide-content-container {

    .slide-content {
      margin-left: 50px;
    }
    h1 {
      text-shadow: 0 3px 29px rgba(0, 0, 0, 0.49);
    }
    .caption {
      h3 {
        font-weight: 400;
      }
    }
  }
}

.fusion-image-carousel {
    margin-bottom: 0;


  .fusion-image-wrapper {
    padding: 0;
  }
}

.fusion-image-carousel .fusion-carousel .fusion-image-wrapper {
  background-color: transparent;
}

.l-h-30 {
  line-height: 30px;

  ul > li {
    line-height: 30px;
  }
}

.p__m-b-30 {
  p {
    margin-bottom: 30px;
  }
}

.m-b-0 {
  margin-bottom: 0;

  h6 {
    margin-bottom: 0;
  }
}

.h6__m-t-0 {
  h6 {
    margin-top: 0;
  }
}


.fusion-sb-toggle-wrapper {
  display: none;
}

.no-padding {
  padding: 0;
  margin: 0;
}

.highlight-color {
  color: @c-1;
}

.margin-auto {
  margin: 0 auto;
}

.fusion-footer-widget-area ul.payment-logos {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  li {
    width: 100px;
    padding-right: 20px;
    display: inline-block;

    img {
      width: 100%;
    }
  }
  @media only screen and (max-width: 479px) {
    li {
      flex: 1 1 50%;
      padding: 0;
      img {
        width: 100px;
      }
    }
  }
}

.fusion-footer-widget-area {
  ul {
    @media only screen and (max-width: 479px) {
      margin-top: 0 !important;
      margin-bottom: 20px !important;
      li {
        display: block !important;
      }

      .fusion-menu-cart {
        display: none !important;
      }
    }
  }
  @media only screen and (max-width: 479px) {
    .fusion-widget-menu {
      margin-bottom: -70px !important;
    }
  }
}

.svg-120 {
  svg {
    width: 120px;
    height: 120px;
  }

  path {
    width: 120px;
    height: 120px;
  }
}
