div.wpcf7 {
    width: 60vw;
    margin: 0 auto;

    @media only screen and (max-width: 767px) {
        width: 90vw;
    }

    label {
        color: @c-w;
        font-family: @secondary-font;
        font-size: @t-8;
    }


    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        height: 50px;
        border-radius: 4px;
        width: 30vw !important;
        margin-top: 9px;

        @media only screen and (max-width: 767px) {
            width: 90vw !important;
        }
    }

    textarea {
        width: 61vw !important;
        border-radius: 4px;
        margin-top: 9px;
        height: 100px;

        @media only screen and (max-width: 767px) {
            width: 90vw !important;
        }
    }

    input[type="submit"] {
        height: 58px;
        margin: 0 auto;
        display: block;
        font-size: @t-10;
        margin-top: 9px;
    }

    .wpcf7-response-output.wpcf7-mail-sent-ok {
        color: @c-1;
        background-color: transparent;
        border: 0;
        padding: 10px;

        .alert-icon,
        .close {
            display: none;
        }

        .fusion-alert-content {
            font-size: @t-3;
        }
    }

    span.wpcf7-not-valid-tip {
        color: #f84c4c;
    }

    form.sent {
        p,
        input, 
        label, 
        textarea {
            display: none;
        }
    }
}

.one-half,
.one-third {
    position: relative;
    margin-right: 4%;
    float: left;
    margin-bottom: 10px;
 
}
 
.one-half { width: 48%; }
.one-third { width: 30.66%; }
 
.last {
    margin-right: 0 !important;
    clear: right;
}
 
@media only screen and (max-width: 767px) {
    .one-half, .one-third {
        width: 100%;
        margin-right: 0;
    }
}