//TODO: class for author page
.dali-mraz-group {
  @media only screen and (max-width: 1199px) {
    .fusion-imageframe {
      float: none !important;
      display: block;
      margin: auto !important;
      img {
        margin: auto;
      }
    }
    .fusion-text {
      text-align: center;
    }
  }
  @media only screen and (max-width: 800px) {
    .fusion-row {
      position: static;
      &:nth-of-type(3) {
        background: red !important;
        .fusion-layout-column {
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          &:nth-of-type(1) {
            top: 295px;
          }
          &:nth-of-type(2) {
            top: 575px;
          }
          &:nth-of-type(3) {
            top: 855px;
          }
        }
      }
    }
    .fusion-imageframe {
      margin-bottom: 44px !important;
    }
    &--1 {
      .fusion-row {
        &:nth-of-type(3) {
          .fusion-layout-column {
            &:nth-of-type(1) {
              top: 270px;
            }
            &:nth-of-type(2) {
              top: 550px;
            }
          }
        }
      }
    }
    &--2 {
      .fusion-row {
        position: static;
        &:nth-of-type(9) {
          .fusion-layout-column {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            &:nth-of-type(1) {
              bottom: 675px;
            }
            &:nth-of-type(2) {
              bottom: 335px;
            }
            &:nth-of-type(3) {
              bottom: -15px;
            }
          }
        }
      }
    }
  }
}