#a-system,
#b-system,
#c-system,
#d-system {
  .fusion-column-wrapper {
    -webkit-background-size: initial !important;
    background-size: initial !important;
  }
}

#a-system,
#c-system {
  .fusion-column-wrapper {
      background-position: 17% bottom !important;
  }

  .fusion-imageframe {
    margin-left: -16px !important;
  }
}

#c-system {
  .fusion-imageframe {
    margin-left: -24px !important;
  }
}

#b-system{
  .fusion-column-wrapper {
    background-position: 325px bottom !important;
  }
}
#b-system,
#d-system {
  .fusion-imageframe {
    margin-left: -30px !important;
  }
}

#d-system {
  .fusion-column-wrapper {
    background-position: 284px bottom !important;
  }
}


