
.fusion-widget-menu {

  #menu-footer-menu {
    li.fusion-widget-cart {
      display: none;
    }
  }
}


#social_links-widget-3 {
  margin-top: 80px;

  .fusion-social-network-icon {
    margin-right: 30px;
  }

}

.fusion-footer-widget-column {
  margin-bottom: 0;
}

.fusion-footer-copyright-area {
  padding-top: 0;
}

#menu-widget-2 ul li a:hover,
#menu-widget-2 ul .menu-item.current-menu-item a {
  text-decoration: underline;
}

#menu-widget-2 {
  ul {
    li {
      a {
        padding: 0 12px !important;
        display: block !important;
        &:after {
          display: none;
        }
      }
    }
  }
}

#menu-widget-2 > .fusion-widget-menu .fusion-menu-cart,
#menu-widget-4 > .fusion-widget-menu .fusion-menu-cart { 
  display: none;
}