.form-wrapper {
  display: block;
  margin: 15px auto 0 auto;

  label {
    color: @c-4;
    font-weight: 400;
    font-size: @t-5;
  }

  input {
    width: 100%;
    height: 40px;
    display: block;
    border: 1px solid @c-9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: 0;
    margin-bottom: 17px;
    margin-top: 10px;
    padding-left: 10px;
    color: @c-9;
  }

  textarea {
    display: block;
    height: 91px;
    width: 100%;
    border: 1px solid @c-9;
    padding-left: 10px;
    color: @c-9;
    font-size: @t-8;
  }

  button, input[type="submit"] {
    display: block;
    background-color: @c-2;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    color: @c-w;
    text-align: center;
    margin: 18px auto 0 auto;
  }
}

#profile-form, #mepr_account_form, .mepr-newpassword-form {
  width: 300px;
  margin: 29px auto 0 auto;

  label {
    color: @c-2;
    font-size: @t-8;
    font-weight: 500;
    margin-bottom: 0;
  }
}

#profile-form {
  input {
    color: darken(@c-9, 40%);
  }

  input[type="submit"] {
    color: @c-w;
  }
}

.mepr-newpassword-form {
  input[type="submit"] {
    width: 160px;
  }
}

.svg-ico {
  width: 22px;
  display: block;
  margin: 0 auto;

  &.uncheck {
    path {
      fill: @c-10;
    }
  }

  &.check,
  &.smile-check {
    path {
      fill: #7ccb10;
    }
  }

  &.medium-check {
    path {
      fill: #434c5a;
    }
  }

  &.sad-check {
    path {
      fill: @c-12;
    }
  }
}

.wdth-700 {
  width: 700px;
}


.emotion-svg-ico {
  display: inline-flex;
}

.mepr-account-change-password {
  display: none;
}

.post-1263 .mepr_error {
  z-index: 1000000;
  position: absolute;
  top: 38vh;
  width: 400px;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 !important;
  font-size: 14px;
  text-align: center;
}
