@media only screen and (max-width: 800px) {
  .fullwidth-box {
    padding: 20px !important;
    .post-content {
      h1 {
        font-size: 70px;
        line-height: 1.2;
      }
    }
  }
  .hundred-percent-height {
    padding-top: 100px !important;
  }
}
