.fusion-header {
  @media only screen and (max-width: 1023px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .fusion-main-menu .sub-menu {
    width: 40px;
    margin-top: -30px;
    margin-left: -19px;
    left: 10px;

    li {
      &.current-lang {
        background: transparent;
        color: @c-2;

        a {
          span {
            color: @c-2;
            &:hover {
              color: @c-w;
            }
            &:after {
              content: '';
              background: transparent;
            }
          }
        }
      }

      a {
        padding: 0;
        text-align: center;
        color: @c-2;
        font-size: @t-8;
        font-weight: @fw-700;
      }
    }
  }
}
