.fusion-page-title-bar {
  .fusion-page-title-row {
    h1 {
      @media only screen and (max-width: 800px) {
        font-size: 60px;
      }
      @media only screen and (max-width: 479px) {
        font-size: 40px;
      }
    }
  }
}
.post-content {
  h1 {
    @media only screen and (max-width: 800px) {
      font-size: 60px;
    }
    @media only screen and (max-width: 479px) {
      font-size: 40px;
    }
  }
}
.fusion-title {
  @media only screen and (max-width: 1024px) {
    br {
      display: none;
    }
  }
  @media only screen and (max-width: 479px) {
    h1 {
      font-size: 40px;
    }
    h3 {
      font-size: 25px;
    }
  }
}