.page-id-1263, .page-id-1264 {

  .fusion-main-menu {
    display: none;
  }

  nav[class*="fusion-mobile-"] {
    display: none;
  }

  div#home {
    position: absolute !important;
    top: 0 !important;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-image: url('/wp-content/uploads/2019/10/client-login-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: @c-2;

  }

  .fusion-page-title-bar {
    height: auto;

    .fusion-page-title-captions {
      margin-top: 25vh;
      background-color: #6b7b82;
      max-width: 400px;
      width: 100%;
      height: 100px;
      border-radius: 8px 8px 0 0;

      .entry-title {
        font-size: 36px;
        line-height: 100px;
        color: @c-w;
        text-shadow: 0 3px 50px rgba(0, 0, 0, 0.66);
        margin: 0 auto;
      }
    }
  }

  h3, p {
    position: relative;
    text-align: center;
    margin: -5px auto 0 auto;
    padding-bottom: 15px;
    font-size: @t-10;
    color: @c-w;
    background: @c-3;
    width: 400px;
    z-index: 100000;
    text-shadow: 0 3px 50px rgba(0, 0, 0, 0.66);
  }

  .login-return-link {
    position: relative;
    display: block;
    text-align: center;
    z-index: 100000;
    font-size: @t-5;
    color: @c-w;
    background: @c-3;
    text-decoration: underline;
    margin: 0 auto;
    display: block;
    width: 400px;
    padding-bottom: 20px;
  }

  p {
    font-size: @t-8;
    padding: 20px;
  }

  .fusion-page-title-wrapper,
  .fusion-header-wrapper {
     z-index: 100001;
     max-width: 400px;
     width: 100%;
     margin: 0 auto;
  }

  .fusion-header-wrapper {
    .fusion-logo {
      margin: 15vh auto 0 auto;
      float: none;
      text-align: center;
    }
  }
}

.mp_login_form, .woocommerce-form-login, #mepr_forgot_password_form {
  padding: 47px 50px 23px 50px;
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: @c-w;
  z-index: 100001;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.mp_login_form, .woocommerce-form-login, #mepr_forgot_password_form, .mepr-form {

  .input[type="radio"], input[type="checkbox"] {
    margin: 0;
  }

  .mp-spacer {
    display: none;
  }

  //.mepr-form {

    input[type="submit"], &.login button[type="submit"] {
      margin: 0 auto;
      background: @c-2;
      color: @c-w;
      display: block;
      min-width: 121px;
      font-family: @primary-font;
    }

    label {
      color: @c-2;
      font-size: @t-8;
      font-family: @primary-font;
    }

    input {
      height: 40px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid @c-9;
    }
  //}

  .mepr-login-actions {
    text-align: center;
    margin-top: 20px;

    a {
      color: @c-9;
      text-decoration: underline;
      font-family: @primary-font;
    }
  }
}

.mepr-newpassword-form {
  input[name='new-password-submit'] {
    display: inline-block;

    & > a {
      margin-left: 50px;
    }
  }
}

.login-form-wrapper{
  position: absolute !important;
  top: 0 !important;
  left: 0;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background: url('/wp-content/uploads/2019/10/client-login-background.png') no-repeat;
  background-size: cover;

  .fusion-standard-logo {
    margin: 15vh auto 0 auto;
    float: none;
    text-align: center;
    display: block;
  }
  .fusion-page-title-captions {
    margin: 20px auto 0 auto;
    background-color: #6b7b82;
    width: 400px;
    height: 100px;
    border-radius: 8px 8px 0 0;

    .entry-title {
      text-align: center;
      display: block;
      font-size: 36px;
      line-height: 100px;
      color: @c-w;
      text-shadow: 0 3px 50px rgba(0, 0, 0, 0.66);
    }
  }

  @media only screen and (max-width: 800px) {
    .fusion-page-title-bar {
      .fusion-page-title-captions {
        margin-top: 20px;
      }
    }
  }

  @media only screen and (max-width: 479px) {
    .mp_login_form {
      padding: 30px 15px;
    }
  }
}
