.loop-item {
  position: relative;
  display: block;
  border: 1px solid @c-10;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  background-color: @c-w;
  margin-top: 12px;

  .title {
    padding: 0 12px 0 18px;
    font-size: @t-4;
    color: @c-2;
    display: block;
    line-height: 61px;
  }

  .loop {
    iframe {
      display: none;
    }
  }

  .controls {
    position: absolute;
    top: 20%;
    right: 0;
    width: 36px;
    height: 36px;
    background: @c-1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    &:hover {
      background: #b06f37;
    }

    &.controls-play {
      right: 10%;
    }

    &.controls-resume {
      right: 18%;
    }

    &.controls-unlock {
      right: 0;
      width: 147px;
      -webkit-border-radius: 27px;
      -moz-border-radius: 27px;
      border-radius: 27px;
      background-color: @c-w;
      border: 1px solid @c-10;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
      color: @c-1;
      text-transform: uppercase;
      margin-right: 10px;

      &:hover {
        background: @c-1;
        color: @c-w;
        cursor: pointer;

        .ico-text .ico {

          path:last-child {
            fill: @c-w;
          }
        }
      }

      .ico-text {
        line-height: 36px;
        text-align: center;
        position: relative;
        display: block;

        .ico {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 7px;

          path:last-child {
            fill: @c-1;
          }
        }

        .text {
          font-size: @t-8;
          font-weight: @fw-700;
          text-align: center;
          padding-left: 25px;
          vertical-align: middle;
        }
      }
    }

    &.controls-download {
      right: 2%;
      background: @c-w;
      box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.1);

      &:hover {
        background: @c-1;
        path {
          fill: @c-w;
        }
      }
    }

    &.no-download {
      cursor: not-allowed;
      opacity: 0.5;

      &:hover {
        background: @c-w;

        path {
          fill: @c-9;
        }
      }
    }

    .icon {
      position: absolute;
      width: 0;
      height: 0;
      top: 10px;
      right: 12px;


      &.icon-play {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 10px solid @c-w;
      }

      &.icon-pause {
        width: 14px;
        height: 16px;
        border-color: @c-w;
        border-style: double;
        border-width: 0 0 0 14px;
        right: 11px;
      }

      &.icon-resume {
        right: 25px;
        top: 7px;

        i {
          color: @c-w;
        }
      }

      &.icon-download {
        right: 25px;
      }
    }
  }

  &.video-item {
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-top: 0;
  }
}

.category-videa {
  margin-bottom: 0;
}

#wrapper #main .vimeo-content h2.title-heading-left {
  font-size: 30px;
  padding-left: 0;
  color: @c-2;
}

.vimeo-content {
  position: relative;

  .fusion-title {
    padding-left: 0 !important;
    padding-top: 27px;
    margin-bottom: 10px !important;
  }

  p {
    span {
      line-height: 25px;
    }
  }

  .fusion-column-last {
    .fusion-text p {
      width: 490px;
    }
  }

  .video-points {

    .ico {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 13px;
      left: 24%;


      path:last-child {
        fill: @c-1;
      }
    }

    .controls-unlock {
      width: 231px;
      height: 52px;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      margin: 0 auto;
      top: 100px;
      z-index: 1001;
      border-radius: 27px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
      line-height: 47px;
      background-color: #ffffff;
      color: #d38b4c;
      text-transform: uppercase;

      .text {
        color: #333333;
      }

      &:hover {
        background: @c-1;
        color: @c-w;
  
        .ico {
          path:last-child {
            fill: @c-w;
          }
        }

        .text {
          color: @c-w;
        }
      }
    }

    

    
  }
}

// .not-allowed {
//   pointer-events: none;
//   opacity: 0.5;

//   &:hover {
//     cursor: none;
//   }
// }


.loops {
  .post {
    margin-bottom: 0;
  }

  .loop-item {
    height: 61px;
  }
}

.vimeo-content {
  iframe {
    opacity: 0;
  }

  .video-shortcode:before {
    content: '';
    background: rgba(16, 41, 53, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

form#filter-loops {
  select {
    width: 169px;

    &:first-child {
      margin-right: 21px;
    }
  }
}
