.fusion-main-menu {
  text-transform: uppercase;
  //width: 64%;
  width: 77%;
  .fusion-main-menu .fusion-main-menu-cart>a:after {
    color: @c-w;
  }

  .menu-item-1344 {
    margin-left: 5%;
  }
}

.fusion-main-menu {
  ul li a.fusion-icon-only-link {
    &:hover {
      color: @c-w;
    }
    .fusion-megamenu-icon {
        color: @c-w;
    }
  }
}


.current-menu-item > a,
.menu-item > a:hover,
.menu-item > a:active,
.current-lang a,
.current-menu-parent a {
  color: @c-w;

  span {
    position: relative;
    color: @c-w;

    .fusion-megamenu-icon:after,
    &:after {
      content: '';
      width: 100%;
      height: 4px;
      background: @c-1;
      position: absolute;
      top: 25px;
      left: 0;
    }

    &.fusion-megamenu-icon {
      &:after {
        top: 22px;
      }
    }
  }
}


.current-menu-item > ul a span:after,
.menu-item > ul a:hover span:after,
.menu-item > ul a:active span:after,
.current-lang ul a span:after,
.current-menu-parent ul a span:after {
    content: '';
    width: 0;
    height: 0;
    background: transparent;
}

.current-menu-parent > ul a span {
  color: @c-2;
}
.fusion-header .fusion-main-menu .sub-menu li.current-lang a:hover {
  span {
    color: @c-w;
  }
}

#menu-widget-3 .fusion-widget-menu,
#menu-widget-4 .fusion-widget-menu {
  li.fusion-widget-cart {
    display: none;
  }
}

.fusion-header-wrapper {
  position: absolute;
  z-index: 10000;
  left: 0;
  right: 0;
}
.fusion-header {
  .fusion-standard-logo {
    display: block;
  }
}

//@media only screen and (max-width: 1415px) {
  .fusion-header-wrapper {
    .fusion-header {
      background: none;
    }
  }
  .fusion-header {
    .fusion-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:before,
      &:after,
      .fusion-clearfix {
        display: none;
      }
    }
    .fusion-logo {
      flex: 1 0 230px;
    }
  }
  .fusion-main-menu {
    width: auto;
    flex: 01 1 auto;
    > ul {
      display: flex;
      align-items: center;
      > li {
        padding-right: 30px;
      }
    }
    li:nth-last-child(4){
      margin-right: auto;
      padding-right: 0;
    }
  }
//}
@media only screen and (max-width: 1024px) {
  .fusion-mobile-menu-design-modern.fusion-header-v1 {
    .fusion-mobile-nav-holder {
      position: absolute;
      top: 100%;
      right: 0;
      padding: 0;
      > ul {
        display: flex;
      }
    }
  }
  .fusion-mobile-nav-holder {
    position: absolute;
    top: 100%;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .fusion-mobile-menu-design-modern {
    &.fusion-header-v1 {
      .fusion-header {
        padding: 10px;
      }
      .fusion-mobile-nav-holder {
        > ul {
          display: block;
        }
      }
    }
    .fusion-mobile-menu-text-align-left {
      .fusion-mobile-nav-item {
        a {
          padding: 0 30px;
        }
      }
    }
  }
}
@media only screen and (max-width: 479px) {
  .fusion-header {
    .fusion-logo {
      flex: 1 1 auto;
    }
    .fusion-standard-logo {
      width: 55vw;
    }
  }
  .fusion-mobile-menu-icons {
    a {
      &:last-child {
        margin-left: 0;
      }
    }
  }
}

.points {
  &:after {
    content: "";
    background: transparent;
  }
}

.fusion-header .fusion-main-menu li > ul.sub-menu > li.current-lang a span {
  color: @c-w;
}
