.fusion-button-wrapper > .fusion-button.buy-button {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) !important;
    border-color: #eaeaea;
    min-width: 147px;
    height: 35px;
    padding: 9px 29px;
}

.buy-box-first { 
	box-shadow: 0 3px 50px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
    background-color: #ffffff;
    
    .fw-500 p {
        font-weight: 500;
    }
}

.buy-box-last {
    position: relative;
    
    .fusion-column-wrapper {
        border-radius: 10px;
    }

    .fw-500 p {
        font-weight: 500;
    }
}

.buy-box-last:after {
    content: "";
    background-image: url('/wp-content/uploads/2019/09/badge-popular.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 116px;
    height: 115px;
    top: -7px;
    right: -9px;
}

.buy-box-last:before {
    content: "Popular";
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    color: @c-w;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 27px;
    z-index: 10;
}

.points-all-value {
    color: @c-1;
}