#post-94 {
  .fusion-carousel .fusion-clean-product-image-wrapper .fusion-carousel-item-wrapper > h4.fusion-carousel-title a {
    color: #333;
  }
  @media only screen and (max-width: 800px) {
    .fusion-layout-column {
      .fusion-column-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}