#post-96 {
  @media only screen and (max-width: 800px) {
    .nonhundred-percent-fullwidth {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
    .title-heading-left {
      line-height: normal !important;
    }
  }
}