#post-52 {
  @media only screen and (max-width: 1366px) {
    .fusion-fullwidth {
      .fusion-layout-column {
        margin-right: 0 !important;
      }
      .fusion-column-wrapper {
        padding-left: 0 !important;
        background-position: bottom right !important;
      }
    }
    .nonhundred-percent-fullwidth {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
  }
  @media only screen and (max-width: 1199px) {
    .fusion-fullwidth {
      &:not(:first-of-type) {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
      }
      .fusion-column-wrapper {
        background-size: auto 350px !important;
      }
      .fusion-layout-column {
        &.fusion-one-half {
          width: 50% !important;
        }
      }
    }
  }
  @media only screen and (max-width: 800px) {
    .fusion-fullwidth {
      .fusion-layout-column {
        &.fusion-one-half {
          width: 100% !important;
        }
      }
    }
  }
}