.single-product.woocommerce {

  #content {
    margin-bottom: 115px;
  }

  #main {
    position: relative;

    .social-share {
      display: block;
      position: absolute;
      top: 15%;
      left: 0;
      border: 0;
      margin-top: 0;
      z-index: 1;
      li {
        width: 5%;
        border: none;
        display: block;
        padding: 5px 30px;

        .fusion-woo-social-share-text {
          display: none;
        }

        .fontawesome-icon {
          background-color: @c-w;
          border-color: @c-w;
          box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.1);


          &:before {
            color: @c-2;
          }
        }
      }
      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
  }

  .fusion-page-title-bar {
    .entry-title {
      display: none;
    }
  }

  .woocommerce-product-gallery__wrapper {
    img {
      background-color: @c-5;
    }
  }

  .product_meta {
    display: none;
  }
  .product {
    position: inherit;
    .images {
      @media only screen and (max-width: 1023px) {
        width: auto;
      }
  }
    .summary {
      &.entry-summary {
        max-width: 535px;

        p {
          line-height: 25px;
        }

        h1 {
          color: @c-2;
          line-height: 52px;
          margin-bottom: 0;
        }

        .amount {
          color: @c-4;
          font-size: @t-3;
          font-weight: @fw-700;
        }
        @media only screen and (max-width: 1023px) {
          max-width: none;
          margin: 0;
        }
      }
    }
  }
  .related.products {
      .fusion-title {
        display: block;

        h3 {
          text-transform: uppercase;
          text-align: center;
          color: @c-w !important;
          font-size: 20px;
        }
      }

      .product-title a,
      .amount {
        color: @c-w;
      }
    }
}

#content .cart {
  .quantity {
    border-color: @c-w;

    input {

      &[type='button'] {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid @c-7;
      }

      &[type='number'] {
        border-color: @c-w;
        font-size: 20px;
      }

      &.minus,
      &.plus {
        width: 30px;
        height: 30px;
        font-size: 20px;
      }
    }
  }
}
