.product-reward-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  margin-top: 50px;

  .product-reward {
    position: relative;
    width: 260px;
    overflow: hidden;

    .reward-image-wrapper {
      position: relative;
    }

    img {
      width: 100%;
      height: 260px;
    }

    .image-overlay {
      background: rgba(0,0,0,.5);
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }

    h4 {
      font-family: @secondary-font;
      font-size: @t-4;
      color: @c-w;
      font-weight: 700;
      margin-bottom: 0;
    }

    .points {
      color: @c-1;
      font-weight: 400;
      margin-bottom: 0;
    }

    .get-reward, .cancel-reward {
      position: absolute;
      text-align: center;
      top: 33%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 147px;
      height: 35px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
      border-radius: 27px;
      border: 1px solid @c-10;
      background-color: @c-w;
      line-height: 32px;

      color: @c-1;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;

      &:hover {
        background-color: @c-1;
        color: @c-w;
        border: 1px solid @c-1;
      }
    }

    .cancel-reward {
      top: 45%;
      background-color: @c-12;
      color: @c-w;
      border: none;

      &:hover {
        background-color: darken(@c-12, 10%);
        border: none;
      }
    }

    svg {
      width: 23px;
      height: 23px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
    }

    .reward-text {
      display: inline-block;
      vertical-align: middle;
    }

    a.reward-requested {
      &:hover {
        background-color: @c-1;
        color: @c-w;
        border: 1px solid @c-1;
      }
    }

    a.reward-taken {
      pointer-events: none;
    }

    &.taken {
      h4, p {
        color: @c-6;
      }
    }
  }

}
