.tfs-slider {
  .slide-content-container {
    h1 {
      max-width: 700px;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .tfs-slider {
    .slide-content-container {
      h1 {
        max-width: 650px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .tfs-slider {
    .slide-content-container {
      padding: 0 10px;
      h1 {
        max-width: 700px;
      }
      .slide-content {
        margin: 0;
      }
    }
  }
}