.results-section {
  position: absolute;
  top: -145px;
  left: 0;
  right: 0;

  .star-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .star-box {
      width: 56px;
      height: 56px;
      background: @c-1;
      border-radius: 50%;
      margin-right: 10px;
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;

      img,
      svg {
        margin: 0 auto;
        z-index: 10;
      }

      .star-overlay {
        width: 56px;
        height: 56px;
        position: absolute;
        top: 0;
        background: @c-9;
      }
    }

    .star-text {
      color: @c-w;
      font-size: @t-10;

      span {
        color: @c-9;
        font-size: @t-5;
        display: block;
      }
    }
  }
}
