.woocommerce-page {

  .products>li {
    margin-bottom: 56px;
  }

  .fusion-page-title-wrapper {
    align-items: flex-end;
  }

  .fusion-page-title-bar {
    background-image: none;
  }

  .current-menu-item > a span,
  .current-lang a span {
    color: @c-w;
  }

  .current-menu-parent a span {
    color: @c-2;
  }

  .menu-item > a:hover span,
  .menu-item > a:active span,
  .current-menu-item > ul a span,
  .current-lang ul a span,
  .current-menu-parent ul a span {
    color: @c-2;
  }

  .fusion-main-menu {
    li > a,
    .current-lang a span {
      color: @c-2;

      &.fusion-icon-only-link .fusion-megamenu-icon,
      &.fusion-main-menu-icon:after {
        color: @c-2;
      }

      &:hover,
      &:hover span {
        color: @c-2;
      }
    }

    .current_page_item > a,
    .current_page_item > a span {
      color: @c-2;

      &:hover, &:hover span {
        color: @c-2;
      }
    }
  }

  .woocommerce-terms-and-conditions-link {
    text-decoration: underline;
  }

  .fusion-standard-logo {
    use {
      fill: @c-2;
    }
  }

  .product-title,
  .fusion-price-rating,
  .price > .amount {
    font-size: 16px;
    text-align: left;
    color: #676767;
  }


  .fusion-image-wrapper {
    max-width: 402px;
    max-height: 491px;

    img {
      padding: 10px 0;
    }
  }

  .fusion-product-content {
    padding-left: 0;
  }

  .products li.product {
    border: none;
  }

  .fusion-megamenu-icon {
    color: @c-2;
  }

  .current-menu-parent > ul a:hover span {
    color: @c-w;
  }
}

.fusion-woo-product-slider .fusion-carousel {
  .fusion-image-wrapper {
    padding: 30px;
    max-width: 402px;
    max-height: 491px;

    img {
      padding: 10px 0;
    }
  }

  .fusion-clean-product-image-wrapper {
    .fusion-carousel-item-wrapper {

      & > h4.fusion-carousel-title,
      .fusion-carousel-price,
      .price > .amount {
        font-size: 14px;
        text-align: left;
        color: @c-6;
        font-weight: 400;
      }

      & > h4.fusion-carousel-title {
        padding-left: 30px;
        margin-top: 5px;
        color: @c-2;
      }


      .fusion-carousel-meta {
        line-height: 1;
        padding-left: 30px;
      }
    }
  }
}


.orderby-order-container {
  float: right;
}

.catalog-ordering {
  .current-li-content{
    width: 220px;
  }

  .order-dropdown {
    &, & ul li a {
      width: 220px;
      border: none;
      background: @c-w;
    }

    .current-li {
      background: transparent;
      border: none;
      padding: 0;
    }

    &>li:after {
      border: none;
      top: -2px;
      width: 15px;
    }
  }

  .order {
    li a {
      border: none;
      background-color: @c-5;
    }
  }

  .sort-count {
    width: 150px;
  }

  .fusion-grid-list-view {
    display: none;
  }
}

.product .onsale {
  display: none;
}
