.testimonials {
  padding-left: 6px;

  .testimonial-item {
    margin-top: 40px;
    margin-bottom: 40px;

    .fusion-fullwidth {
      margin: 0 5px;
      //padding: 46px 20px 56px 21px !important;

      &:focus {
        outline: none;
      }

      > .fusion-row .fusion-column-wrapper{
        box-shadow: 0 3px 40px rgba(0, 0, 0, 0.1);
      }
    }

    img {
      width: 148px;
      margin-bottom: 31px;
      padding-top: 46px;
    }

    .fusion-text {
      line-height: 32px;
      padding-right: 20px;
      padding-left: 21px;
      color: @c-2;

    }

    h4.title-heading-center {
      font-size: @t-11;
      color: @c-4;
    }

  }

  button{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .slide-arrow{
    position: absolute;
    top: 50%;
    margin-top: -15px;
  }
  .prev-arrow{
    left: -12px;
  }
  .next-arrow{
    right: -20px;
  }
}

