#main .fusion-portfolio h2, #main .post h2, #wrapper #main .post h2, #wrapper #main .post-content .fusion-title h2, #wrapper #main .post-content .title h2, #wrapper .fusion-title h2, #wrapper .post-content h2, #wrapper .title h2, #wrapper .woocommerce .checkout h3, .fusion-modal h2, .fusion-widget-area h2, .woocommerce .checkout h3, h2.entry-title {
}
@media only screen and (max-width: 767px) {
  #main .fusion-portfolio h2, #main .post h2, #wrapper #main .post h2, #wrapper #main .post-content .fusion-title h2, #wrapper #main .post-content .title h2, #wrapper .fusion-title h2, #wrapper .post-content h2, #wrapper .title h2, #wrapper .woocommerce .checkout h3, .fusion-modal h2, .fusion-widget-area h2, .woocommerce .checkout h3, h2.entry-title {
    font-size: 6vw;
  }
}
@media only screen and (max-width: 479px) {
  #main .fusion-portfolio h2, #main .post h2, #wrapper #main .post h2, #wrapper #main .post-content .fusion-title h2, #wrapper #main .post-content .title h2, #wrapper .fusion-title h2, #wrapper .post-content h2, #wrapper .title h2, #wrapper .woocommerce .checkout h3, .fusion-modal h2, .fusion-widget-area h2, .woocommerce .checkout h3, h2.entry-title {
    font-size: 32px;
  }
}