.tracker-section{
  .total-time {
    float: right;
    font-weight: 700;
  }
}
.radio-group-label {
  display: inline-block;
  height: 26px;
  vertical-align: top;
}

.radio-group {
  border: 1px solid @c-8;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;

  input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  label {
    color: @c-4;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 15px;
    margin-bottom: 0;

    &:hover {
      background: @c-8;
    }
  }

  input[type=radio]:checked + label {
    color: lighten(grey, 60%);
    background: grey;
  }

  label + input[type=radio] + label {
    border-left: 1px solid @c-8;
  }
}

.tracker-form, .table-tracker {
  .emotion-input {
    display: none;

    &:checked + label {
      opacity: 1;
    }
  }

  .error-message {
    font-size: @t-4;
    color: @c-1;
  }


  div.form-group:nth-child(even) input,
  div.form-group:nth-child(even) .checkbox {
      background: @c-5;
  }

  div.form-group:first-child input {
      border-left: 1px solid @c-9;
  }

  div.form-group:last-child input {
      border-right: 1px solid @c-9;
  }

  label svg {
      display: block;
    }

  .radio-inline {
    padding-left: 5px;
    opacity: .1;

    &:first-child {
      padding-left: 0;
    }

    &:hover {
      opacity: 1;
    }
  }

  .inline-radio-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: @c-5;
    border-top: 1px solid @c-9;
    border-bottom: 1px solid @c-9;
    margin-top: 5px;
    margin-bottom: 10px;

    label:first-child {
      padding-left: 0;
    }
  }

  input {
    border: 0;
    border-radius: 0;
    border-top: 1px solid @c-9;
    border-bottom: 1px solid @c-9;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 5px;
  }

  button[type="submit"] {
    display: block;
    margin-top: 9px;
    padding-left: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;

  }

  .checkbox {
    display: flex;
    align-items: center;
    height: 40px;
    border-top: 1px solid @c-9;
    border-bottom: 1px solid @c-9;
    margin-top: 5px;

    label {
      margin: 0 auto;
      padding-left: 0;
    }
  }

  .checkbox-hide {
    display: none;

    & + label {
      svg {
        width: 22px;
        display: block;
        path {

          fill: @c-10;
        }
      }

      &:hover {
        svg path {
          fill: #7ccb10;
        }
      }
    }

    &:checked + label {
      svg path {
        fill: #7ccb10;
      }
    }
  }

  .form-control[readonly] {
    background-color: transparent;
  }
}

.table-tracker {

  & > thead > tr > th {
    border-bottom-width: 1px;
    font-weight: 400;
    color: @c-4;
    font-size: @t-5;
    font-family: @secondary-font;
  }

  td{
    padding: 0;
    vertical-align: middle;
    font-size: @t-8;
    min-width: 107px;
  }

  tr {
    height: 43px;
  }

  tbody {
    border: 1px solid @c-9;
  }

  .inline-radio-buttons {
    border: 0;
    background: transparent;
  }

  svg.emotion-svg-ico {
    margin-right: 6px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .emotion-icons {
    text-align: center;
  }

  tr td:nth-child(even){
      background: @c-5;
  }

  tr td:last-child {
    padding-left: 14px;
  }

  .nullable {
    color: @c-9;
  }
}

.calendar-pagination {
  display: block;
  margin: 50px auto 0 auto;
  width: 300px;
  text-align: center;


  .month-display {
    color: @c-4;
    font-weight: 700;
    width: 120px;
    display: inline-block;
    text-align: center;
  }

  .tracker-prev {
    margin-right: 36px;
  }

  .tracker-next {
    margin-left: 36px;
  }

  a {
    padding: 5px 8px;
    background: @c-5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;

    &:hover {
      background: @c-4;
      color: @c-w;
    }
  }
}

.no-content {
  text-align: center;
  font-size: @t-10;
  display: none;
}

.charts-section {
  border: 1px solid @c-11;
  padding: 20px 50px;
}
