.training-plan-table {

  .plan-name {
    background: @c-5;
    border: 1px solid @c-5;
    height: 44px;
    margin-bottom: 0;
    margin-top: 10px;
    line-height: 44px;
    padding-left: 19px;
    font-size: @t-11;
    color: @c-2;
    font-weight: 500;
    font-family: @primary-font;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    span {
      font-size: @t-4;
      font-weight: 700;
      padding-left: 8px;
      font-family: @secondary-font;
    }
  }

  .wrapper {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  }


  .table-wrapper {
    padding: 0 12px 19px 19px;
    border: 1px solid @c-10;
    border-top: 0;

  }

  table {
    & > thead > tr > th {
      font-size: @t-10;
      border: 0;
      font-family: @secondary-font;
      padding: 10px 0 5px 0;

      span {
        font-size: @t-8;
        padding-left: 7px;
        color: @c-9;
        font-weight: 500;
      }
    }

    & > tbody > tr > td {
      border: 1px solid @c-10;
      color: @c-2;
      font-family: @secondary-font;
      height: 43px;
      padding: 10px;

      &:first-child {
        border-right-color: @c-5;
      }

      &.time-entry {
        background: @c-5;
        width: 101px;
      }
    }
  }
}

.training-plan-form {
  margin-top: 7px;

  .row {
    margin: 0;
  }

  .total-time {
    text-align: center;
  }

  p,
  label,
  input {
    color: @c-2;
  }

  p {
    font-weight: 700;
    font-size: @t-4;
    margin-bottom: 0;

    span {
      font-size: @t-8;
      padding-left: 7px;
      color: @c-9;
      font-weight: 500;
    }
  }

  label {
    font-size: @t-8;
    font-weight: 500;
    margin-top: 9px;
    margin-bottom: 6px;
  }

  input {
    border-radius: 0;
    border: 1px solid @c-10;
    margin: 0;

    &.first-control {
      border-right: 0;
    }

    &.last-control {
      border-left: 0;
      background: @c-5;
    }
  }

  .system-box {
    border: 1px solid @c-10;
    padding: 17px 19px 40px 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 22px;
    position: relative;
  }

  h5 {
    height: 44px;
    background: @c-5;
    display: block;
    border-radius: 4px 4px 0 0;
    line-height: 44px;
    padding-left: 15px;
    margin: 0;
    font-size: @t-11;
    font-weight: 500;
  }

  .training-plan-name {
    border: 1px solid @c-10;
    border-top: 0;
    padding: 13px 13px 26px 19px;
    margin-bottom: 9px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 4px 4px;

    input {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }

  .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid @c-10;
  }

  a.add-new {
    position: absolute;
    bottom: 5%;
    right: 3%;
  }
}

#training-plan {
  padding-top: 15px !important;

  .fusion-button-wrapper.fusion-alignright {
    margin-right: 30px;
  }
}

.training-plans > .row {
  margin-left: 0;
  margin-right: 0;
}

#exercise-form {
  margin-left: 70px;

  select {
    width: 300px;
    height: 40px;
  }
}

.button-new-plan {
  padding-right: 0;
  text-align: right;
  width: auto;
  font-family: @secondary-font;
  font-size: @t-4;

  i {
    font-size: @t-3;
  }
}
